Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix"
    ],
    "*.{json,css,md}": [
        "prettier"
    ]
}

Fix build command env
  .github/workflows/deploy.yml
Due: none

deploy: 9a40036ffd285ee8265840ad36bc0a6e68b6bd3a
  .nojekyll
  asset-manifest.json
  index.html
  static/css/2.34df7307.chunk.css
  static/css/main.8e87cbdd.css
  static/css/main.ab951f32.chunk.css
  static/js/2.772d7d15.chunk.js
  static/js/2.772d7d15.chunk.js.LICENSE.txt
  static/js/main.28b6bb8e.chunk.js
  static/js/main.8a08788c.js
  static/js/main.8a08788c.js.LICENSE.txt
  static/js/runtime-main.85a25ab1.js
  static/media/index.0773f8d30492eff1644c.cjs
  static/media/index.0fe10b1bfb25aa9732f8.cjs
  static/media/index.1e3d64b0fcde879f0060.cjs
  static/media/index.294a0edb7af7d19b781b.cjs
  static/media/welcome_illustration.cd84d2be0e7683dface66dfee9959989.svg
Due: eslint --fix, prettier

deploy: ba707753adfa38b494166fac7b02197890f02909
  asset-manifest.json
  index.html
  static/js/main.8a08788c.js
  static/js/main.d43748b7.js
  static/js/main.d43748b7.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: f7ee4a9c2f7f9fefcb1ba286d7a521d1ddf5e2ac
  asset-manifest.json
  index.html
  static/js/main.d43748b7.js
  static/js/main.feca463b.js
  static/js/main.feca463b.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  src/dashboard/Dashboard.tsx
  src/dashboard/MonthlyRevenue.tsx
  src/dashboard/OrderChart.tsx
  src/dashboard/PendingOrder.tsx
  src/dashboard/Welcome.tsx
  src/formatUtils.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  src/invoices/InvoiceList.tsx
  src/layout/AppBar.tsx
  src/layout/Logo.tsx
  src/layout/Menu.tsx
  src/layout/MobileMenu.tsx
  src/layout/themes.ts
  src/orders/Basket.tsx
  src/orders/MobileGrid.tsx
  src/orders/OrderList.tsx
  src/products/GridList.tsx
  src/products/ProductEdit.tsx
  src/products/ProductPreview.tsx
  src/products/index.tsx
  src/visitors/Aside.tsx
  src/visitors/MobileGrid.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix

Update demo
  src/layout/Menu.tsx
Due: eslint --fix

deploy: 13fae68e415c4ef59f48b4b867fe5a0ea2da2583
  asset-manifest.json
  index.html
  static/js/main.070a86a8.js
  static/js/main.070a86a8.js.LICENSE.txt
  static/js/main.feca463b.js
Due: eslint --fix, prettier

deploy: f7fdaa059e7f58f35a17fbbad4c0cc96eefd6c36
  asset-manifest.json
  index.html
  static/js/main.070a86a8.js
  static/js/main.d16f3996.js
  static/js/main.d16f3996.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  cypress.json
  cypress/integration/Dashboard.ts
  cypress/integration/ra-preferences.ts
  cypress/integration/ra-realtime.ts
  cypress/support/commands.ts
  package.json
Due: eslint --fix, prettier

deploy: 7988140507198c8014fbde384850925ae1bdc60b
  asset-manifest.json
  index.html
  static/js/main.14ed4eab.js
  static/js/main.14ed4eab.js.LICENSE.txt
  static/js/main.d16f3996.js
Due: eslint --fix, prettier

deploy: 370aff14ef05cf6d29db78f8af6bbd79504e813b
  asset-manifest.json
  index.html
  static/js/main.14ed4eab.js
  static/js/main.5902444a.js
  static/js/main.5902444a.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: 4534dc29644595d7f8d8c1311f1fb407377a529a
  asset-manifest.json
  index.html
  static/js/main.4a9f2133.js
  static/js/main.4a9f2133.js.LICENSE.txt
  static/js/main.5902444a.js
Due: eslint --fix, prettier

deploy: 1cac58bd5c976fde42a6dc37e5002c8e3e07b9a5
  asset-manifest.json
  index.html
  static/css/main.4fb4f494.css
  static/css/main.8e87cbdd.css
  static/js/main.4a9f2133.js
  static/js/main.d037e874.js
  static/js/main.d037e874.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  cypress/integration/ra-realtime.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  src/orders/OrderList.tsx
  src/tours/TourList.tsx
  src/tours/tours.ts
Due: eslint --fix

deploy: 07b30f59ef02241c7d300d1f48688c3d9703ca36
  asset-manifest.json
  index.html
  static/js/main.43b2bc01.js
  static/js/main.43b2bc01.js.LICENSE.txt
  static/js/main.d037e874.js
Due: eslint --fix, prettier

Update demo
  package.json
Due: prettier

deploy: 98cba0a008f74706d008576395e340fb977265df
  asset-manifest.json
  index.html
  static/js/main.43b2bc01.js
  static/js/main.948b7cca.js
  static/js/main.948b7cca.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: 02bf4a8818a9ae23a701c6567e03aed932e9ff98
  asset-manifest.json
  index.html
  static/js/main.4469825c.js
  static/js/main.4469825c.js.LICENSE.txt
  static/js/main.948b7cca.js
Due: eslint --fix, prettier

Update demo
  src/layout/themes.ts
Due: eslint --fix

deploy: 4bf5a9b90d4dbb78a3c282d477bc87974f83f30d
  asset-manifest.json
  index.html
  static/js/main.4469825c.js
  static/js/main.892af377.js
  static/js/main.892af377.js.LICENSE.txt
  static/media/index.0fe10b1bfb25aa9732f8.cjs
  static/media/index.9c78ae522a2bd87f9e98.cjs
Due: eslint --fix, prettier

deploy: 57493e39d3d80bd8f6962653fd03a9d3e6547bce
  asset-manifest.json
  index.html
  static/js/main.415261a7.js
  static/js/main.415261a7.js.LICENSE.txt
  static/js/main.892af377.js
Due: eslint --fix, prettier

deploy: 111f34a5e98937e4e1b90a84266b89da2a574c21
  asset-manifest.json
  index.html
  static/js/main.415261a7.js
  static/js/main.42a1506f.js
  static/js/main.42a1506f.js.LICENSE.txt
Due: eslint --fix, prettier
