Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.7094bcc253a6376ef3a886fab9ef932e.js
  service-worker.js
  static/css/2.5c4dc53a.chunk.css
  static/js/2.0ab1319c.chunk.js
  static/js/2.3f0f547a.chunk.js
  static/js/2.3f0f547a.chunk.js.LICENSE.txt
  static/js/main.a3880831.chunk.js
  static/js/main.ed1f5759.chunk.js
Due: eslint --fix, prettier

Fix CategoryEdit title
  src/categories/CategoryEdit.tsx
  src/products/ProductList.tsx
  src/types.ts
Due: eslint --fix

Fix Invoice Expand Border in Dark mode
  src/invoices/InvoiceShow.tsx
Due: eslint --fix

Fix OrderList Dark Mode (including ra-realtime)
  src/orders/OrderList.js
Due: eslint --fix

Fix Product Preview
  src/products/Preview.tsx
Due: eslint --fix

Fix Product Preview Dark Mode
  src/products/Preview.tsx
Due: eslint --fix

Remove border around tour grid
  src/tours/TourList.js
Due: eslint --fix

Fix App Logo Position
  src/layout/AppBar.tsx
Due: eslint --fix

Fix Visitor Filter Bar on Low Resolutions
  src/visitors/VisitorListAside.tsx
Due: eslint --fix

Fix Poster Preview Title
  src/products/Preview.tsx
Due: eslint --fix

Fix Product List Width in CategoryEdit
  src/products/ProductList.tsx
Due: eslint --fix

Remove Root Category from Product List Filter
  src/products/Aside.tsx
Due: eslint --fix

Fix Reviews Comments Width in ProductEdit + Main Panel Width
  src/products/ProductEdit.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.90f84128549638b37cd7fae23134b4b0.js
  service-worker.js
  static/js/main.37aa6d16.chunk.js
  static/js/main.a3880831.chunk.js
Due: eslint --fix, prettier

Fix Product Category Filter Selected State
  src/products/Aside.tsx
Due: eslint --fix

Fix Products Dynamic Resize Issue
  src/products/ProductEdit.tsx
Due: eslint --fix

Fix translations
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Menu.tsx
Due: eslint --fix

Typo on stores
  src/i18n/fr.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.07828603eed2f997dfa2d33930f5fd08.js
  service-worker.js
  static/js/main.2bd54441.chunk.js
  static/js/main.37aa6d16.chunk.js
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.20e8ba052de175ee4695ae773963c292.js
  service-worker.js
  static/js/main.2bd54441.chunk.js
  static/js/main.d88001a9.chunk.js
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.e0cb6c8c67c9a0fce10c1121bd914f9b.js
  service-worker.js
  static/js/main.a5277acf.chunk.js
  static/js/main.d88001a9.chunk.js
Due: eslint --fix, prettier

Upgrade deps
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.5a68a68ae43c1b5a91394fdffdf41211.js
  service-worker.js
  static/js/2.10f10a15.chunk.js
  static/js/2.10f10a15.chunk.js.LICENSE.txt
  static/js/2.3f0f547a.chunk.js
  static/js/main.8cf49805.chunk.js
  static/js/main.a5277acf.chunk.js
Due: eslint --fix, prettier

Change welcome message to bring ppl to tours
  src/dashboard/Welcome.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/AppBar.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.edd721c162662b3e6cf5dbeee69e74bd.js
  service-worker.js
  static/js/2.10f10a15.chunk.js
  static/js/2.97dd8e9f.chunk.js
  static/js/2.97dd8e9f.chunk.js.LICENSE.txt
  static/js/main.45d73f27.chunk.js
  static/js/main.8cf49805.chunk.js
Due: eslint --fix, prettier

Fix translations
  src/App.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
Due: eslint --fix

Fix markdown tour
  src/products/GridList.tsx
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.d66d9b8ddf5761bdba2f44dc7a6aab69.js
  service-worker.js
  static/js/main.45d73f27.chunk.js
  static/js/main.b94b26ef.chunk.js
Due: eslint --fix, prettier

Review
  src/i18n/fr.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.fa756843724dbe9c7bb91a2f829a8ecb.js
  service-worker.js
  static/js/2.30833920.chunk.js
  static/js/2.30833920.chunk.js.LICENSE.txt
  static/js/2.97dd8e9f.chunk.js
  static/js/main.0954f3eb.chunk.js
  static/js/main.b94b26ef.chunk.js
Due: eslint --fix, prettier

Fix Create Poster Button in CategoryEdit
  src/categories/CategoryEdit.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/products/ProductList.tsx
  src/types.ts
Due: eslint --fix

Fix after rebase
  src/i18n/en.ts
Due: eslint --fix

Apply review
  src/categories/CategoryEdit.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.df36b5a21bd2f16d46912694c3a61b0d.js
  service-worker.js
  static/js/2.30833920.chunk.js
  static/js/2.5c1e4903.chunk.js
  static/js/2.5c1e4903.chunk.js.LICENSE.txt
  static/js/main.0954f3eb.chunk.js
  static/js/main.394c3e0d.chunk.js
Due: eslint --fix, prettier

Add autoFocus on first input for editable datagrid
  src/stores/StoreList.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.8329aa20e6b6809f363ef9b4d4c91fce.js
  service-worker.js
  static/js/main.1f9b1d1f.chunk.js
  static/js/main.394c3e0d.chunk.js
Due: eslint --fix, prettier

Fix realtime demo
  src/dataProvider/index.js
  src/fakeServer/index.js
  src/orders/OrderList.js
  src/tours/commandBuilder.js
  src/tours/tours.ts
Due: eslint --fix

fix end of tour
  src/orders/OrderList.js
Due: eslint --fix

fix build rules
  src/orders/OrderList.js
Due: eslint --fix

Fix ProductEdit styles
  src/products/ProductEdit.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
