Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Align all the buttons in the Tour page
  src/tours/Tour.js
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.69aec3132cd5c8fa3f8f7d098dbfa6c0.js
  service-worker.js
  static/js/2.3380da74.chunk.js
  static/js/2.3380da74.chunk.js.LICENSE.txt
  static/js/2.54026101.chunk.js
  static/js/main.3e99d7d1.chunk.js
  static/js/main.ffedee85.chunk.js
Due: eslint --fix, prettier

Update @react-admin/ra-editable-datagrid to v1.1.0
  package.json
  yarn.lock
Due: prettier

Update @react-admin/ra-enterprise to v0.1.1
  package.json
  yarn.lock
Due: prettier

Update @react-admin/ra-markdown to v1.1.0
  package.json
  yarn.lock
Due: prettier

Update @react-admin/ra-navigation to v1.2.0
  package.json
  yarn.lock
Due: prettier

Update @react-admin/ra-preferences to v1.1.0
  package.json
  yarn.lock
Due: prettier

Update @react-admin/ra-realtime to v1.2.0
  package.json
  yarn.lock
Due: prettier

Update @react-admin/ra-tour to v1.1.0
  package.json
  yarn.lock
Due: prettier

Update @react-admin/ra-tree to v1.3.0
  package.json
  yarn.lock
Due: prettier

Fix all dependencies and add resolutions for enterprise modules
  package.json
  yarn.lock
Due: prettier

Fix types
  src/types.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.edeed11422255bab0f5fde092cf4b80a.js
  service-worker.js
  static/js/2.28ced751.chunk.js
  static/js/2.28ced751.chunk.js.LICENSE.txt
  static/js/2.3380da74.chunk.js
  static/js/main.3e99d7d1.chunk.js
  static/js/main.7cd7538c.chunk.js
Due: eslint --fix, prettier

Update react-admin and its related dependencies to v3.9.3
  package.json
  yarn.lock
Due: prettier

Import from react-admin instead of ra-core
  src/authProvider.ts
  src/categories/CategoryEdit.tsx
  src/dataProvider/addRealtimeMethodsWithFakeTransport.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Breadcrumb.tsx
  src/layout/Login.tsx
  src/products/Aside.tsx
  src/products/GridList.tsx
  src/products/ProductList.tsx
  src/types.ts
  src/visitors/DesktopGrid.tsx
  src/visitors/MobileGrid.tsx
  src/visitors/SegmentInput.tsx
  src/visitors/SegmentsInput.tsx
Due: eslint --fix

Fix the DatagridProps type
  src/types.ts
Due: eslint --fix

Update @react-admin/ra-enterprise to v0.1.2
  package.json
  yarn.lock
Due: prettier

Update typescript to v4.0.2
  package.json
  yarn.lock
Due: prettier

Convert all js files to ts
  src/App.tsx
  src/authProvider.ts
  src/categories/CategoryEdit.tsx
  src/categories/LinkToRelatedProducts.tsx
  src/dashboard/Dashboard.tsx
  src/layout/Menu.tsx
  src/orders/Basket.tsx
  src/orders/MobileGrid.tsx
  src/orders/NbItemsField.js
  src/orders/NbItemsField.tsx
  src/orders/OrderEdit.tsx
  src/orders/OrderList.js
  src/orders/OrderList.tsx
  src/orders/index.ts
  src/ra-enterprise/List.tsx
  src/react-admin.d.ts
  src/reviews/AcceptButton.tsx
  src/reviews/BulkAcceptButton.tsx
  src/reviews/BulkRejectButton.tsx
  src/reviews/RejectButton.tsx
  src/reviews/ReviewEdit.tsx
  src/reviews/ReviewEditToolbar.tsx
  src/reviews/ReviewFilter.tsx
  src/reviews/ReviewList.tsx
  src/reviews/ReviewListDesktop.tsx
  src/reviews/ReviewListMobile.tsx
  src/reviews/StarRatingField.tsx
  src/reviews/index.ts
  src/reviews/rowStyle.tsx
  src/routes.tsx
  src/segments/LinkToRelatedCustomers.tsx
  src/segments/Segments.tsx
  src/segments/data.ts
  src/tours/Tour.tsx
  src/tours/TourList.tsx
  src/tours/index.ts
  src/types.ts
  src/visitors/Aside.tsx
Due: eslint --fix

Fix id could be undefined in CategoryEdit
  src/categories/CategoryEdit.tsx
Due: eslint --fix

Fix wrong props and types
  src/categories/CategoryEdit.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/MonthlyRevenue.tsx
Due: eslint --fix

Use types from react-admin as much as possible
  src/invoices/InvoiceShow.tsx
  src/products/Poster.tsx
  src/products/ProductList.tsx
  src/products/ProductRefField.tsx
  src/products/ProductReferenceField.tsx
  src/products/ThumbnailField.tsx
  src/tours/TourLauncher.tsx
  src/tours/TourList.tsx
  src/visitors/AddressField.tsx
  src/visitors/AvatarField.tsx
  src/visitors/ColoredNumberField.tsx
  src/visitors/CustomerLinkField.tsx
  src/visitors/CustomerReferenceField.tsx
  src/visitors/FullNameField.tsx
  src/visitors/MobileGrid.tsx
  src/visitors/SegmentsField.tsx
  src/visitors/VisitorCreate.tsx
  src/visitors/VisitorEdit.tsx
Due: eslint --fix

Doing things I'm not proud of to compile the demo
  src/layout/AppBar.tsx
  src/layout/Login.tsx
  src/layout/Menu.tsx
  src/products/GridList.tsx
  src/ra-enterprise/List.tsx
  src/reviews/ReviewListDesktop.tsx
  src/tours/Tour.tsx
Due: eslint --fix

Remove specific styles in the Menu
  src/layout/Menu.tsx
Due: eslint --fix

Write a light and a dark theme for RaMenuItem
  src/layout/themes.ts
Due: eslint --fix

Fix the Breadcrumb not accessible on some List pages
  src/layout/Breadcrumb.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.889fb2236e8437c8c9b8f126be7dd57e.js
  service-worker.js
  static/js/2.28ced751.chunk.js
  static/js/2.9fc658c9.chunk.js
  static/js/2.9fc658c9.chunk.js.LICENSE.txt
  static/js/main.238b2666.chunk.js
  static/js/main.7cd7538c.chunk.js
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.4a2a318044e1b4a6216236ca618175d7.js
  service-worker.js
  static/js/main.238b2666.chunk.js
  static/js/main.a62289c3.chunk.js
Due: eslint --fix, prettier

Update @react-admin/ra-navigation to v1.2.1
  package.json
  yarn.lock
Due: prettier

Update @react-admin/ra-enterprise to v1.0.0
  package.json
  yarn.lock
Due: prettier

Add @react-admin/ra-search v1.1.0 to dependencies
  package.json
  yarn.lock
Due: prettier

Remove not useful RaMenuItem styles
  src/layout/themes.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.e180ded153553ec76a8829ce189f709e.js
  service-worker.js
  static/js/2.250b61c7.chunk.js
  static/js/2.250b61c7.chunk.js.LICENSE.txt
  static/js/2.9fc658c9.chunk.js
  static/js/main.a62289c3.chunk.js
  static/js/main.d3c572aa.chunk.js
Due: eslint --fix, prettier

Disable the back button in the ra-realtime tour
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.2325cb4aed25d5a1a3b05aace68042ef.js
  service-worker.js
  static/js/main.ab8420b8.chunk.js
  static/js/main.d3c572aa.chunk.js
Due: eslint --fix, prettier

Check if the tour is not running before running it
  src/tours/TourLauncher.tsx
Due: eslint --fix

Fix Ts types for the TourLauncher
  src/tours/TourLauncher.tsx
Due: eslint --fix

Redirect to the homepage right after running the tour
  src/tours/TourLauncher.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.2104bdc293788562bee69343553a30b4.js
  service-worker.js
  static/js/2.21dab975.chunk.js
  static/js/2.21dab975.chunk.js.LICENSE.txt
  static/js/2.250b61c7.chunk.js
  static/js/main.90e27bef.chunk.js
  static/js/main.ab8420b8.chunk.js
Due: eslint --fix, prettier

Reset the filters on the review list when clicking on the corresponding breadcrumb
  src/layout/Breadcrumb.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
