Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix"
    ],
    "*.{json,css,md}": [
        "prettier"
    ]
}

Fix typo
  src/dashboard/Timeline.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.36ba6254.chunk.js
  static/js/main.a912ccdf.chunk.js
Due: eslint --fix, prettier

Fix New Icon Regression on Tours
  src/tours/Tour.tsx
Due: eslint --fix

Fix syncWithLocation in customers list
  package.json
  src/ra-enterprise/List.tsx
  yarn.lock
Due: eslint --fix, prettier

Click on child element for description tab
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.58f4dbf2.chunk.js
  static/js/main.63824296.chunk.js
Due: eslint --fix, prettier

Add fake avatars for audit log
  src/dashboard/Timeline.tsx
  src/fakeServer/avatars.ts
  src/fakeServer/generateFakeEvents.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.01afdfc3.chunk.js
  static/js/2.01afdfc3.chunk.js.LICENSE.txt
  static/js/2.3fc4a103.chunk.js
  static/js/main.58f4dbf2.chunk.js
  static/js/main.b1f35c25.chunk.js
Due: eslint --fix, prettier

Bump form layout
  package.json
  yarn.lock
Due: prettier

Bump ra-search
  package.json
  yarn.lock
Due: prettier

Add useArrowKeysToNavigate hook
  src/layout/Search.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.01afdfc3.chunk.js
  static/js/2.66076baf.chunk.js
  static/js/2.66076baf.chunk.js.LICENSE.txt
  static/js/main.b1f35c25.chunk.js
  static/js/main.fa9fb1de.chunk.js
Due: eslint --fix, prettier

Fix Menu Panels reopen themselves
  src/layout/Menu.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.422d6e4d.chunk.js
  static/js/main.fa9fb1de.chunk.js
Due: eslint --fix, prettier

Fix Breadcrumb Height Changes Depending on Pages
  src/layout/themes.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.422d6e4d.chunk.js
  static/js/main.7b840e27.chunk.js
Due: eslint --fix, prettier

Fix Search Items Paths for os without Case Sensitive FS
  src/layout/Search.tsx
  src/layout/SearchItems/CommandListItem.tsx
  src/layout/SearchItems/CustomerListItem.tsx
  src/layout/SearchItems/LinkedData.tsx
  src/layout/SearchItems/ProductListItem.tsx
  src/layout/SearchItems/ReviewListItem.tsx
  src/layout/SearchItems/SearchListItemLink.tsx
  src/layout/SearchItems/index.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.9cecbc08.chunk.js
Due: eslint --fix, prettier

Upgrade deps & Fix warnings
  .eslintrc
  package.json
  src/products/ProductList.tsx
  yarn.lock
Due: eslint --fix, prettier

Hide tree root node
  src/categories/CategoryEdit.tsx
  src/categories/CategoryList.tsx
  src/fakeServer/index.ts
  src/layout/Menu.tsx
  src/layout/MobileMenu.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.564214fa.chunk.js
  static/js/2.564214fa.chunk.js.LICENSE.txt
  static/js/2.66076baf.chunk.js
  static/js/main.749a8c7d.chunk.js
  static/js/main.9cecbc08.chunk.js
Due: eslint --fix, prettier

Fix dependencies
  package.json
Due: prettier

Update dependencies
  package.json
  yarn.lock
Due: prettier

Fix dark mode in columns selection list
  src/ra-enterprise/List.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/css/2.e625dec6.chunk.css
  static/js/2.564214fa.chunk.js
  static/js/2.ca40ff04.chunk.js
  static/js/2.ca40ff04.chunk.js.LICENSE.txt
  static/js/main.749a8c7d.chunk.js
  static/js/main.a3f1b76a.chunk.js
Due: eslint --fix, prettier

Bootstrap cypress tests
  .eslintrc
  Makefile
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/Dashboard.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  src/layout/Login.tsx
  yarn.lock
Due: eslint --fix, prettier

Upgrade node
  .travis.yml
Due: none

Run tests with Travis
  .travis.yml
  cypress.json
  cypress/integration/Dashboard.ts
  cypress/plugins/index.js
  cypress/plugins/index.ts
  cypress/serve.json
  package.json
  yarn.lock
Due: eslint --fix, prettier

Fix ra-navigation tour
  src/tours/tours.ts
Due: eslint --fix

Add aria-label to appbar tour button
  src/layout/AppBar.tsx
Due: eslint --fix

Add tests for tours
  .eslintrc
  cypress/integration/Dashboard.ts
  cypress/integration/Tours.ts
  cypress/support/commands.ts
Due: eslint --fix

Fix categories creation
  src/categories/CategoryCreate.tsx
Due: eslint --fix

Restructure test for easier debugging
  .eslintrc
  cypress/integration/Tours.ts
  cypress/integration/ra-editable-datagrid.ts
  cypress/integration/ra-markdown.ts
  cypress/integration/ra-navigation.ts
  cypress/integration/ra-preferences.ts
  cypress/integration/ra-realtime.ts
  cypress/integration/ra-search.ts
  cypress/integration/ra-tree.ts
  cypress/support/commands.ts
Due: eslint --fix

Update deps and remove ra-tree workaround
  package.json
  src/categories/CategoryCreate.tsx
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.ca40ff04.chunk.js
  static/js/2.f87f8f54.chunk.js
  static/js/2.f87f8f54.chunk.js.LICENSE.txt
  static/js/main.a3f1b76a.chunk.js
  static/js/main.eb644768.chunk.js
Due: eslint --fix, prettier

Update dependencies + lint + format
  package.json
  src/authProvider.ts
  src/dashboard/Timeline.tsx
  src/fakeServer/index.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  src/invoices/InvoiceShow.tsx
  src/layout/Search.tsx
  src/layout/themes.ts
  src/orders/OrderList.tsx
  src/products/Aside.tsx
  src/products/ProductReferenceField.tsx
  src/reviews/ReviewListMobile.tsx
  src/reviews/rowStyle.tsx
  src/tours/tours.ts
  src/visitors/CustomerReferenceField.tsx
  yarn.lock
Due: eslint --fix, prettier

Remove warning
  src/visitors/VisitorList.tsx
Due: eslint --fix

VisitorCreate is now a WizardForm
  src/visitors/VisitorCreate.tsx
Due: eslint --fix
