Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix"
    ],
    "*.{json,css,md}": [
        "prettier"
    ]
}

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.21f126f5ca962da78e03f6e9b2996ccf.js
  service-worker.js
  static/js/main.09ce75d6.chunk.js
  static/js/main.f07ecd65.chunk.js
Due: eslint --fix, prettier

Fix ra-realtime tour
  src/tours/tours.ts
Due: eslint --fix

Upgrade enterprise modules
  package.json
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.82ffcb37bc50479f22ae686e170c22e7.js
  service-worker.js
  static/js/main.09ce75d6.chunk.js
  static/js/main.a4b7b4a8.chunk.js
Due: eslint --fix, prettier

Add lock methods in ProductEdit
  src/dataProvider/index.js
  src/products/ProductEdit.tsx
Due: eslint --fix

Add locks
  package.json
  src/App.tsx
  src/dataProvider/index.js
  src/fakeServer/demo-data.js
  src/layout/Layout.tsx
  src/layout/Menu.tsx
  src/layout/themes.ts
  src/products/GridList.tsx
  src/products/ProductEdit.tsx
  src/tours/tours.ts
  yarn.lock
Due: eslint --fix, prettier

Update src/tours/tours.ts
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.65f26142e9e10ba81a1efd7650d0229e.js
  service-worker.js
  static/css/2.5c4dc53a.chunk.css
  static/js/2.829a1588.chunk.js
  static/js/2.a69422c7.chunk.js
  static/js/2.a69422c7.chunk.js.LICENSE.txt
  static/js/main.9f9d4ccc.chunk.js
  static/js/main.a4b7b4a8.chunk.js
Due: eslint --fix, prettier

Upgrade dependencies
  package.json
  yarn.lock
Due: prettier

Fix TS
  src/layout/Breadcrumb.tsx
Due: eslint --fix

More updates
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.479b1ceadb5a1c348b1260fb9c4ae265.js
  service-worker.js
  static/js/2.7d753784.chunk.js
  static/js/2.7d753784.chunk.js.LICENSE.txt
  static/js/2.a69422c7.chunk.js
  static/js/main.922f626d.chunk.js
  static/js/main.9f9d4ccc.chunk.js
Due: eslint --fix, prettier

ra-markdown: Add steps to tour
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.4e3b9ff6cda0e576550486a13c454f68.js
  service-worker.js
  static/js/main.922f626d.chunk.js
  static/js/main.e6ecc190.chunk.js
Due: eslint --fix, prettier

Sort the dependencies using the alphabetical order
  package.json
Due: prettier

Implement create in stores with editable-datagrid
  package.json
  src/stores/StoreList.tsx
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.e0b5ec86349208750df159c30805b07b.js
  service-worker.js
  static/js/2.7d753784.chunk.js
  static/js/2.e26f2cb9.chunk.js
  static/js/2.e26f2cb9.chunk.js.LICENSE.txt
  static/js/main.66b08c8b.chunk.js
  static/js/main.e6ecc190.chunk.js
Due: eslint --fix, prettier

Upgrade ra-tree
  package.json
  src/dataProvider/addTreeMethodsBasedOnChildren.ts
  src/dataProvider/index.js
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.2ecf109b76017906158228b0d6cd05f9.js
  service-worker.js
  static/js/2.698bf638.chunk.js
  static/js/2.698bf638.chunk.js.LICENSE.txt
  static/js/2.e26f2cb9.chunk.js
  static/js/main.66b08c8b.chunk.js
  static/js/main.b722ae12.chunk.js
Due: eslint --fix, prettier

Fix Breacrumb unused space
  src/products/ProductList.tsx
  src/ra-enterprise/List.js
  src/stores/StoreList.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix

Review
  src/products/ProductList.tsx
Due: eslint --fix

Write a default template for pull requests
  .github/pull_request_template.md
Due: prettier

Upgrade Husky/LintStaged
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.30d4368a87c013522c2d02ff01cfc02c.js
  service-worker.js
  static/js/2.3b79c07f.chunk.js
  static/js/2.3b79c07f.chunk.js.LICENSE.txt
  static/js/2.698bf638.chunk.js
  static/js/main.54aca9aa.chunk.js
  static/js/main.b722ae12.chunk.js
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.8d69d825defb7c01bb84ddc9811b897e.js
  service-worker.js
  static/js/2.3b79c07f.chunk.js
  static/js/2.e9ad986d.chunk.js
  static/js/2.e9ad986d.chunk.js.LICENSE.txt
  static/js/main.54aca9aa.chunk.js
  static/js/main.889b6369.chunk.js
Due: eslint --fix, prettier

Upgrade @react-admin/ra-realtime to v1.0.5
  package.json
  yarn.lock
Due: prettier

Update react-admin to v3.8.5
  package.json
  yarn.lock
Due: prettier

Upgrade minor dependencies
  package.json
  yarn.lock
Due: prettier

Upgrade dev dependencies
  package.json
  yarn.lock
Due: prettier

Update eslint config (to have the same as the ra-enterprise project)
  .eslintrc
Due: none

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.43a462c7dd2489c7803553e02d6822bd.js
  service-worker.js
  static/js/2.7b6d285e.chunk.js
  static/js/2.7b6d285e.chunk.js.LICENSE.txt
  static/js/2.e9ad986d.chunk.js
Due: eslint --fix, prettier

Improve the style of the menu category item
  src/layout/Menu.tsx
Due: eslint --fix

Downgrade @react-admin/ra-realtime
  package.json
  yarn.lock
Due: prettier

Upgrade de dependencies
  package.json
  yarn.lock
Due: prettier

Fix MenuItemCategory with children having a to prop
  src/layout/Menu.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.67bc0f4ab7fad1d6fb00c211e703a137.js
  service-worker.js
  static/js/2.4d6d6fee.chunk.js
  static/js/2.4d6d6fee.chunk.js.LICENSE.txt
  static/js/2.7b6d285e.chunk.js
  static/js/main.86c229b2.chunk.js
  static/js/main.889b6369.chunk.js
Due: eslint --fix, prettier

Fix Spacing in Page With Custom Styles for Breadcrumb
  src/products/ProductList.tsx
  src/ra-enterprise/List.js
  src/stores/StoreList.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix

Fix imports
  src/visitors/VisitorList.tsx
Due: eslint --fix

Fix i18n for Dashboard Menu Item
  src/layout/Menu.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.967e61db5942f9bbbe9f0026d3e87b3d.js
  service-worker.js
  static/js/2.4d6d6fee.chunk.js
  static/js/2.7dcccf15.chunk.js
  static/js/2.7dcccf15.chunk.js.LICENSE.txt
  static/js/main.86c229b2.chunk.js
  static/js/main.900d40b4.chunk.js
Due: eslint --fix, prettier
