Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/css/2.697b7f60.chunk.css
  static/css/2.e625dec6.chunk.css
  static/css/main.ab951f32.chunk.css
  static/css/main.af3584c1.chunk.css
  static/js/2.ce44ec96.chunk.js
  static/js/2.ce44ec96.chunk.js.LICENSE.txt
  static/js/2.f87f8f54.chunk.js
  static/js/main.c96ce20d.chunk.js
  static/js/main.eb644768.chunk.js
  static/js/runtime-main.85a25ab1.js
Due: eslint --fix, prettier

Fix bulkactions toolbar is always shown
  package.json
  src/invoices/InvoiceShow.tsx
  src/layout/themes.ts
  src/orders/OrderList.tsx
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.1b686081.chunk.js
  static/js/2.1b686081.chunk.js.LICENSE.txt
  static/js/2.ce44ec96.chunk.js
  static/js/main.c96ce20d.chunk.js
  static/js/main.f1918ecb.chunk.js
Due: eslint --fix, prettier

Introduce WizardForm with VisitorCreate
  package.json
  src/visitors/VisitorCreate.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.1b686081.chunk.js
  static/js/2.a421036e.chunk.js
  static/js/2.a421036e.chunk.js.LICENSE.txt
  static/js/main.e3e9e170.chunk.js
  static/js/main.f1918ecb.chunk.js
Due: eslint --fix, prettier

Translate tours and tour UI
  src/App.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/tours/Tour.tsx
  src/tours/data.ts
  src/tours/tours.ts
Due: eslint --fix

Update deps
  package.json
  yarn.lock
Due: prettier

Fix e2e tests
  cypress/fixtures/example.json
  cypress/integration/ra-editable-datagrid.ts
  cypress/integration/ra-markdown.ts
  cypress/integration/ra-navigation.ts
  cypress/integration/ra-realtime.ts
  cypress/integration/ra-search.ts
  cypress/integration/ra-tree.ts
  src/i18n/en.ts
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.a2790b3a.chunk.js
  static/js/2.a2790b3a.chunk.js.LICENSE.txt
  static/js/2.a421036e.chunk.js
  static/js/main.4f4e3769.chunk.js
  static/js/main.e3e9e170.chunk.js
Due: eslint --fix, prettier

Update react-admin
  package.json
  yarn.lock
Due: prettier

Fix breadcrumb tour
  src/tours/tours.ts
Due: eslint --fix

Update dependencies
  cypress/fixtures/example.json
  package.json
  src/layout/themes.ts
  src/visitors/ColoredNumberField.tsx
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.3ad8e6bd.chunk.js
  static/js/2.3ad8e6bd.chunk.js.LICENSE.txt
  static/js/2.b2f343c9.chunk.js
  static/js/main.8d9e39bc.chunk.js
  static/js/main.bc385ca2.chunk.js
Due: eslint --fix, prettier

Update dependencies
  package.json
  src/layout/SearchItems/CommandListItem.tsx
  yarn.lock
Due: eslint --fix, prettier

Delete yarn.lock
  yarn.lock
Due: none

Update .travis.yml
  .travis.yml
Due: none

Update demo
  package.json
Due: prettier

Update demo
  src/dashboard/PendingReviews.tsx
Due: eslint --fix

Update demo
  .eslintrc
  .gitignore
  cypress/fixtures/example.json
  cypress/integration/Dashboard.ts
  cypress/integration/ra-editable-datagrid.ts
  cypress/integration/ra-markdown.ts
  cypress/integration/ra-navigation.ts
  cypress/integration/ra-preferences.ts
  cypress/integration/ra-realtime.ts
  cypress/integration/ra-search.ts
  cypress/integration/ra-tree.ts
  cypress/plugins/index.js
  cypress/serve.json
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
Due: eslint --fix, prettier

Update demo
  package.json
  src/App.tsx
  src/layout/Layout.tsx
Due: eslint --fix, prettier

Use github actions to deploy
  .github/workflows/deploy.yml
  .travis.yml
Due: none

Disable sourcemap
  .github/workflows/deploy.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Install deps manually
  .github/workflows/deploy.yml
Due: none

Ensure npmrc si present
  Makefile
Due: none

Set up NPM_TOKEN
  .github/workflows/deploy.yml
Due: none

Fix make command
  .github/workflows/deploy.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
