Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.cf0086d3494b501e32e94176811e6f7a.js
  service-worker.js
  static/js/main.21dcfb2d.chunk.js
  static/js/main.900d40b4.chunk.js
Due: eslint --fix, prettier

Upgrade ra-tree
  package.json
  src/categories/CategoryCreate.tsx
  src/categories/CategoryEdit.tsx
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.59be7b4b0879c1946c8ce92b47a52c81.js
  service-worker.js
  static/css/2.7d01ac18.chunk.css
  static/js/2.7dcccf15.chunk.js
  static/js/2.bed84e67.chunk.js
  static/js/2.bed84e67.chunk.js.LICENSE.txt
  static/js/main.21dcfb2d.chunk.js
  static/js/main.775b25ef.chunk.js
Due: eslint --fix, prettier

Add @react-admin/ra-enterprise to dependencies
  package.json
  yarn.lock
Due: prettier

Upgrade @react-admin/ra-realtime to v1.1.0
  package.json
  yarn.lock
Due: prettier

Simplify the App using @react-admin/ra-enterprise
  src/App.tsx
Due: eslint --fix

Refact the Layout using the @react-admin/ra-enteprise modules
  src/layout/AppBar.tsx
  src/layout/Breadcrumb.tsx
  src/layout/Layout.tsx
Due: eslint --fix

Upgrade @react-admin/ra-enterprise to v0.0.2
  package.json
  yarn.lock
Due: prettier

Type the theme
  src/layout/themes.ts
Due: eslint --fix

Upgrade @react-admin/ra-enterprise to v0.0.3
  package.json
  yarn.lock
Due: prettier

Remove forced label in the commands resource
  src/App.tsx
Due: eslint --fix

Upgrade @react-admin/ra-navigation to v1.1.2
  package.json
  yarn.lock
Due: prettier

Upgrade @react-admin/ra-tree to v1.2.2
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.7a7698e06ab5b94165e277083f2cbd0e.js
  service-worker.js
  static/js/2.b68cf1d0.chunk.js
  static/js/2.b68cf1d0.chunk.js.LICENSE.txt
  static/js/2.bed84e67.chunk.js
  static/js/main.775b25ef.chunk.js
  static/js/main.8b061e21.chunk.js
Due: eslint --fix, prettier

Revert @react-admin/ra-navigation to v1.1.1
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.0d3db6066cf0b3691f19b13221d1fb79.js
  service-worker.js
  static/js/2.8e29699f.chunk.js
  static/js/2.8e29699f.chunk.js.LICENSE.txt
  static/js/2.b68cf1d0.chunk.js
  static/js/main.2d82cb61.chunk.js
  static/js/main.8b061e21.chunk.js
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.6a25dc0a54c07ca6e111c4c972b3c668.js
  service-worker.js
  static/js/2.01ad2e63.chunk.js
  static/js/2.01ad2e63.chunk.js.LICENSE.txt
  static/js/2.8e29699f.chunk.js
  static/js/main.1ec62aae.chunk.js
  static/js/main.2d82cb61.chunk.js
Due: eslint --fix, prettier

Fix warning on menu
  src/layout/Menu.tsx
Due: eslint --fix

Update ra-tree
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.383f76f3365960bcf52d0258e52683aa.js
  service-worker.js
  static/js/2.01ad2e63.chunk.js
  static/js/2.73034510.chunk.js
  static/js/2.73034510.chunk.js.LICENSE.txt
  static/js/main.1ec62aae.chunk.js
  static/js/main.d209d47f.chunk.js
Due: eslint --fix, prettier

Upgrade and dedupe dependencies
  package.json
  yarn.lock
Due: prettier

Dedupe @react-admin/ra-tree
  yarn.lock
Due: none

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.3c85bc32d77235e818328886913f8461.js
  service-worker.js
  static/js/2.73034510.chunk.js
  static/js/2.af7bb48b.chunk.js
  static/js/2.af7bb48b.chunk.js.LICENSE.txt
  static/js/main.d209d47f.chunk.js
  static/js/main.df6f7087.chunk.js
Due: eslint --fix, prettier

Add translations for the lock overlay
  src/i18n/en.ts
  src/i18n/fr.ts
Due: eslint --fix

Extract the LockOverlay and use the new translation
  src/products/GridList.tsx
  src/products/LockOverlay.tsx
Due: eslint --fix

Use a Typography in the LockOverlay
  src/products/LockOverlay.tsx
Due: eslint --fix

Fix TS types
  src/types.ts
Due: eslint --fix

Upgrade ra-enterprise & ra-navigation
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.be8fe22f5e0b1e3013388d9fa8d6bb11.js
  service-worker.js
  static/js/2.1b63ec38.chunk.js
  static/js/2.1b63ec38.chunk.js.LICENSE.txt
  static/js/2.af7bb48b.chunk.js
Due: eslint --fix, prettier

Create a random lock builder
  src/tours/randomCommandBuilder.js
  src/tours/randomLockBuilder.js
Due: eslint --fix

Clean the demo-data
  src/fakeServer/demo-data.js
Due: eslint --fix

Create a method to generate an identity
  src/tours/randomLockBuilder.js
Due: eslint --fix

Add translations for the product id
  src/i18n/en.ts
  src/i18n/fr.ts
Due: eslint --fix

Generate and release locks during the ra-realtime tour
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.7574c729558c87eeb03cd8c802ccc349.js
  service-worker.js
  static/css/2.5c4dc53a.chunk.css
  static/js/2.1b63ec38.chunk.js
  static/js/2.c022ba40.chunk.js
  static/js/2.c022ba40.chunk.js.LICENSE.txt
  static/js/main.df6f7087.chunk.js
  static/js/main.ffedee85.chunk.js
Due: eslint --fix, prettier

Upgrade packages
  package.json
  yarn.lock
Due: prettier

Upgrade ra-navigation
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.31520cdfeb42ae835789ee03afe01f4b.js
  service-worker.js
  static/js/2.54026101.chunk.js
  static/js/2.54026101.chunk.js.LICENSE.txt
  static/js/2.c022ba40.chunk.js
Due: eslint --fix, prettier

Remove the buy button
  src/tours/Tour.js
Due: eslint --fix

Remove the markdown field which adds an extra label in the Tour page
  src/tours/Tour.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
