Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Update demo
  package.json
  src/App.tsx
  src/dashboard/Welcome.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Menu.tsx
  src/layout/ProfileSubMenu.tsx
  src/orders/OrderEdit.tsx
  src/themes/ThemeSwapper.tsx
  src/themes/themes.tsx
  src/visitors/ColoredNumberField.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix, prettier

Update demo
  src/dashboard/Dashboard.tsx
  src/dashboard/Welcome.tsx
  src/layout/Breadcrumb.tsx
Due: eslint --fix

Update demo
  package.json
  public/images/tours/ra-history.jpg
  src/admins/AdminName.tsx
  src/admins/index.ts
  src/dataProvider/index.ts
  src/fakeServer/admins.ts
  src/fakeServer/generateFakeEvents.ts
  src/fakeServer/generateFakeRevisions.ts
  src/fakeServer/index.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  src/products/ProductDiff.tsx
  src/products/ProductEdit.tsx
  src/tours/data.ts
  src/tours/tours.ts
  src/types.ts
Due: eslint --fix, prettier

Fix deploy
  .github/workflows/deploy.yml
Due: none

Update demo
  README.md
  assets/react-admin-ee.png
Due: prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
