Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Update demo
  package.json
Due: prettier

Update demo
  README.md
  package.json
  src/App.tsx
  src/categories/CategoryCreate.tsx
  src/categories/LinkToRelatedProducts.tsx
  src/dashboard/CardWithIcon.tsx
  src/dashboard/NewCustomers.tsx
  src/dashboard/OrderChart.tsx
  src/dashboard/PendingOrder.tsx
  src/dashboard/PendingReviews.tsx
  src/dashboard/Welcome.tsx
  src/layout/Login.tsx
  src/layout/SearchItems/LinkedData.tsx
  src/layout/SearchItems/SearchListItemLink.tsx
  src/products/GridList.tsx
  src/reviews/ReviewCreate.tsx
  src/reviews/ReviewItem.tsx
  src/reviews/ReviewList.tsx
  src/reviews/ReviewListDesktop.tsx
  src/routerProvider.ts
  src/segments/LinkToRelatedCustomers.tsx
  src/tours/TourLauncher.tsx
  src/visitors/DesktopGrid.tsx
Due: eslint --fix, prettier

Update demo
  package.json
  src/layout/Menu.tsx
  src/layout/SearchItems/CustomerListItem.tsx
  src/layout/SearchItems/ProductListItem.tsx
  src/layout/SearchItems/ReviewListItem.tsx
  src/orders/MobileGrid.tsx
  src/products/LockOverlay.tsx
  src/products/ProductCreate.tsx
  src/products/ProductEditDetails.tsx
  src/reviews/ReviewItem.tsx
  src/visitors/VisitorListAside.tsx
  src/visits/VisitForm.tsx
  vite.config.ts
Due: eslint --fix, prettier

deploy: 18d78a77601d2c6ad5c21ae290284d7985e58168
  assets/TourLauncher-BO0f0qiT.js
  assets/TourLauncher-BO0f0qiT.js.map
  assets/TourLauncher-DzYqX6V4.js
  assets/TourLauncher-DzYqX6V4.js.map
  assets/TourList-Th9rTbcx.js
  assets/TourList-Th9rTbcx.js.map
  assets/TourList-bhJPT8DG.js
  assets/TourList-bhJPT8DG.js.map
  assets/VisitList-C125YBzQ.js
  assets/VisitList-C125YBzQ.js.map
  assets/VisitList-CR278Fb9.js
  assets/VisitList-CR278Fb9.js.map
  assets/index-BF2szwQB.js
  assets/index-BF2szwQB.js.map
  assets/index-BhWjmWD-.js
  assets/index-BhWjmWD-.js.map
  assets/index-Bj3OZ39J.js
  assets/index-Bj3OZ39J.js.map
  assets/index-DLfTEAI1.js
  assets/index-DLfTEAI1.js.map
  assets/index-DyUK0h35.js
  assets/index-DyUK0h35.js.map
  assets/index-hj7G2BRy.js
  assets/index-hj7G2BRy.js.map
  index.html
  mockServiceWorker.js
  stats.html
Due: eslint --fix

deploy: 7b7bcbac6a0210a54d1240fe999c59fc6f8d96f6
  assets/TourLauncher-BO0f0qiT.js
  assets/TourLauncher-BO0f0qiT.js.map
  assets/TourLauncher-C5gqqc9y.js
  assets/TourLauncher-C5gqqc9y.js.map
  assets/TourList-CfoT8S0i.js
  assets/TourList-CfoT8S0i.js.map
  assets/TourList-Th9rTbcx.js
  assets/TourList-Th9rTbcx.js.map
  assets/VisitList-CR278Fb9.js
  assets/VisitList-CR278Fb9.js.map
  assets/VisitList-DYWl-3IJ.js
  assets/VisitList-DYWl-3IJ.js.map
  assets/index-BF2szwQB.js
  assets/index-BF2szwQB.js.map
  assets/index-BaL70oFR.js
  assets/index-BaL70oFR.js.map
  assets/index-DEqo81XT.js
  assets/index-DEqo81XT.js.map
  assets/index-DLfTEAI1.js
  assets/index-DLfTEAI1.js.map
  assets/index-Dnuu6TjL.js
  assets/index-Dnuu6TjL.js.map
  assets/index-DyUK0h35.js
  assets/index-DyUK0h35.js.map
  index.html
  stats.html
Due: eslint --fix

deploy: 0dc0294c40065c99b109ad4c34a9ea813b7ec971
  assets/TourLauncher-BDYomhSm.js
  assets/TourLauncher-BDYomhSm.js.map
  assets/TourLauncher-C5gqqc9y.js
  assets/TourLauncher-C5gqqc9y.js.map
  assets/TourList-CfoT8S0i.js
  assets/TourList-CfoT8S0i.js.map
  assets/TourList-Q-ZOo9KN.js
  assets/TourList-Q-ZOo9KN.js.map
  assets/VisitList-B_Jaalt-.js
  assets/VisitList-B_Jaalt-.js.map
  assets/VisitList-DYWl-3IJ.js
  assets/VisitList-DYWl-3IJ.js.map
  assets/index-BaL70oFR.js
  assets/index-BaL70oFR.js.map
  assets/index-BqCH4_YR.js
  assets/index-BqCH4_YR.js.map
  assets/index-CCRNAZAK.js
  assets/index-CCRNAZAK.js.map
  assets/index-CrysnRud.js
  assets/index-CrysnRud.js.map
  assets/index-DEqo81XT.js.map
  assets/index-Dnuu6TjL.js
  assets/index-Dnuu6TjL.js.map
  index.html
  stats.html
Due: eslint --fix

deploy: 9f20c7c4fcf0646198cc8c42421a3f2a1dc3f144
  assets/TourLauncher-7ERTxcrD.js
  assets/TourLauncher-7ERTxcrD.js.map
  assets/TourLauncher-BDYomhSm.js
  assets/TourLauncher-BDYomhSm.js.map
  assets/TourList-C8ceBep0.js
  assets/TourList-C8ceBep0.js.map
  assets/TourList-Q-ZOo9KN.js
  assets/TourList-Q-ZOo9KN.js.map
  assets/VisitList-BExE4aRA.js
  assets/VisitList-BExE4aRA.js.map
  assets/VisitList-B_Jaalt-.js
  assets/VisitList-B_Jaalt-.js.map
  assets/index-BNpbK62k.js
  assets/index-BNpbK62k.js.map
  assets/index-BqCH4_YR.js
  assets/index-BqCH4_YR.js.map
  assets/index-CCRNAZAK.js
  assets/index-CCRNAZAK.js.map
  assets/index-CKoZ6i9o.js
  assets/index-CKoZ6i9o.js.map
  assets/index-CrysnRud.js.map
  assets/index-DxwJI9uL.js
  assets/index-DxwJI9uL.js.map
  index.html
  stats.html
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
