Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

deploy: f496107c510daf23a4256b6e906adb7dbe5321f5
  asset-manifest.json
  index.html
  static/js/main.3e95fe10.js
  static/js/main.f07b7dfe.js
  static/js/main.f07b7dfe.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: 6ffdd4854f56e9e93a66b1108729cdab8a027bac
  asset-manifest.json
  index.html
  static/js/main.ecbb4036.js
  static/js/main.ecbb4036.js.LICENSE.txt
  static/js/main.f07b7dfe.js
Due: eslint --fix, prettier

deploy: c7a44bab2f71618d0b939f32078408b0656279cf
  asset-manifest.json
  index.html
  static/js/main.a9c04d98.js
  static/js/main.a9c04d98.js.LICENSE.txt
  static/js/main.ecbb4036.js
Due: eslint --fix, prettier

deploy: df8b1777894612709733756b30833fc18464f742
  asset-manifest.json
  index.html
  static/js/main.a9c04d98.js
  static/js/main.db3db684.js
  static/js/main.db3db684.js.LICENSE.txt
  static/media/index.64ad6eb2e1f4d64d4b31.cjs
  static/media/index.6d4abeb32636f39d3ebc.cjs
Due: eslint --fix, prettier

deploy: ee888161a2aa570e334b8a50dd83c8ef67afff9b
  asset-manifest.json
  index.html
  static/js/main.db3db684.js
  static/js/main.e8767398.js
  static/js/main.e8767398.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  package.json
  src/App.tsx
  src/EventList.tsx
  src/categories/CategoryList.tsx
  src/invoices/InvoiceList.tsx
  src/layout/Breadcrumb.tsx
  src/orders/OrderList.tsx
  src/products/ProductList.tsx
  src/reviews/ReviewList.tsx
  src/stores/StoreList.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix, prettier

deploy: 03d702f3106783a6eadf091a9b60c093635eb4a2
  asset-manifest.json
  index.html
  static/js/main.c9a17bee.js
  static/js/main.c9a17bee.js.LICENSE.txt
  static/js/main.e8767398.js
  static/media/index.6af5d433877d1251b8f0.cjs
  static/media/index.6d4abeb32636f39d3ebc.cjs
Due: eslint --fix, prettier

deploy: a37d358d83cf2735c5521c07bfaf8e37de324856
  asset-manifest.json
  index.html
  static/js/main.2edf68fc.js
  static/js/main.2edf68fc.js.LICENSE.txt
  static/js/main.c9a17bee.js
Due: eslint --fix, prettier

Update demo
  src/layout/Login.tsx
Due: eslint --fix

deploy: ef59a5f6b3ed730c1a2812926155dfccdd81ec9d
  asset-manifest.json
  index.html
  static/js/main.2edf68fc.js
  static/js/main.78e158ff.js
  static/js/main.78e158ff.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  package.json
Due: prettier

deploy: 4084cff2314989b129382a795c1cc5f8fe0343d5
  asset-manifest.json
  index.html
  static/js/main.78e158ff.js
  static/js/main.afa3812c.js
  static/js/main.afa3812c.js.LICENSE.txt
  static/media/index.6af5d433877d1251b8f0.cjs
  static/media/index.78ec3fb9929f7602178d.cjs
Due: eslint --fix, prettier

deploy: 384531989a0485bda5a74ac5855108a01d99c2d5
  asset-manifest.json
  index.html
  static/js/main.9dfe12d1.js
  static/js/main.9dfe12d1.js.LICENSE.txt
  static/js/main.afa3812c.js
Due: eslint --fix, prettier

Update demo
  src/layout/AppBar.tsx
Due: eslint --fix

deploy: 93865476adf4ace1de24534dab7eea5199620ae3
  asset-manifest.json
  index.html
  static/js/main.9dfe12d1.js
  static/js/main.a40c60d5.js
  static/js/main.a40c60d5.js.LICENSE.txt
  static/media/index.15ea94483c441aa87147.cjs
  static/media/index.56291c240a26d815c72b.cjs
  static/media/index.78ec3fb9929f7602178d.cjs
  static/media/index.a07c3155581509c07540.cjs
Due: eslint --fix, prettier

deploy: 1fc7e2df484bccec5667590a783aaf27facc8f7a
  asset-manifest.json
  index.html
  static/js/main.8f9338b5.js
  static/js/main.8f9338b5.js.LICENSE.txt
  static/js/main.a40c60d5.js
Due: eslint --fix, prettier

deploy: 9c31972ba1b3d899f304b1951ceb1ec79e721901
  asset-manifest.json
  index.html
  static/js/main.8f9338b5.js
  static/js/main.ade4bb99.js
  static/js/main.ade4bb99.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  src/configuration/Configuration.tsx
  src/dashboard/PendingReviews.tsx
  src/reviews/ReviewItem.tsx
Due: eslint --fix

deploy: 0c040d6f416472de071a26d935e82ccd7193ca9c
  asset-manifest.json
  index.html
  static/js/main.2f5dab39.js
  static/js/main.c415965f.js
  static/js/main.c415965f.js.LICENSE.txt
  static/media/index.1eeee3f2eb3c002c8d0a.cjs
  static/media/index.a07c3155581509c07540.cjs
Due: eslint --fix, prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
