Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix"
    ],
    "*.{json,css,md}": [
        "prettier"
    ]
}

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/css/2.19e12e85.chunk.css
  static/js/2.26fe10f7.chunk.js
  static/js/2.26fe10f7.chunk.js.LICENSE.txt
  static/js/2.44c354ef.chunk.js
  static/js/main.c925394c.chunk.js
  static/js/main.e2e021af.chunk.js
Due: eslint --fix, prettier

More catch-up
  src/categories/CategoryEdit.tsx
  src/dashboard/Welcome.tsx
  src/products/GridList.tsx
  src/products/ProductList.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.26fe10f7.chunk.js
  static/js/2.e13ed7fd.chunk.js
  static/js/2.e13ed7fd.chunk.js.LICENSE.txt
  static/js/main.c925394c.chunk.js
  static/js/main.f6daee57.chunk.js
Due: eslint --fix, prettier

Fix ra-realtime demo
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.abc3a9a5.chunk.js
  static/js/2.abc3a9a5.chunk.js.LICENSE.txt
  static/js/2.e13ed7fd.chunk.js
  static/js/main.c388a790.chunk.js
  static/js/main.f6daee57.chunk.js
Due: eslint --fix, prettier

Fix Search Links Styles
  src/layout/search/CustomerListItem.tsx
  src/layout/search/ProductListItem.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.7384619a.chunk.js
  static/js/main.c388a790.chunk.js
Due: eslint --fix, prettier

Upgrade dependencies
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.abc3a9a5.chunk.js
  static/js/2.bb2c32ea.chunk.js
  static/js/2.bb2c32ea.chunk.js.LICENSE.txt
  static/js/main.39cfc8e3.chunk.js
  static/js/main.7384619a.chunk.js
Due: eslint --fix, prettier

Add Saved Queries to Products and Customers
  src/products/Aside.tsx
  src/products/ProductList.tsx
  src/visitors/VisitorList.tsx
  src/visitors/VisitorListAside.tsx
Due: eslint --fix

Add tour step for persisted queries
  src/tours/tours.ts
  src/visitors/VisitorListAside.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.81e72f6d.chunk.js
  static/js/2.81e72f6d.chunk.js.LICENSE.txt
  static/js/2.bb2c32ea.chunk.js
  static/js/main.0700fa6c.chunk.js
  static/js/main.39cfc8e3.chunk.js
Due: eslint --fix, prettier

Move Persisted Queries Under Search
  src/products/Aside.tsx
  src/visitors/VisitorListAside.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.0700fa6c.chunk.js
  static/js/main.9aa19d7c.chunk.js
Due: eslint --fix, prettier

Fix AppBar Title Position
  src/layout/AppBar.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.81e72f6d.chunk.js
  static/js/2.fde332fa.chunk.js
  static/js/2.fde332fa.chunk.js.LICENSE.txt
  static/js/main.4649550f.chunk.js
  static/js/main.9aa19d7c.chunk.js
Due: eslint --fix, prettier

Update ra-search to latest version
  package.json
  src/dataProvider/addSearchMethod.ts
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.def16ba4.chunk.js
  static/js/2.def16ba4.chunk.js.LICENSE.txt
  static/js/2.fde332fa.chunk.js
  static/js/main.4649550f.chunk.js
  static/js/main.e3b27f35.chunk.js
Due: eslint --fix, prettier

Fix Orders Search Suggestions
  src/dataProvider/addSearchMethod.ts
Due: eslint --fix

Add ra-search tour
  public/images/tours/ra-search.png
  src/layout/Search.tsx
  src/layout/search/CustomerListItem.tsx
  src/tours/data.ts
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.b738e0ab.chunk.js
  static/js/main.e3b27f35.chunk.js
Due: eslint --fix, prettier

Update src/tours/tours.ts
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  images/tours/ra-search.png
  index.html
  static/js/2.4003831e.chunk.js
  static/js/2.4003831e.chunk.js.LICENSE.txt
  static/js/2.def16ba4.chunk.js
  static/js/main.b738e0ab.chunk.js
  static/js/main.f4a1b52d.chunk.js
Due: eslint --fix, prettier

Udate dependencies
  package.json
  yarn.lock
Due: prettier

Fix customer orders label in search
  src/layout/search/CustomerListItem.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.4003831e.chunk.js
  static/js/2.d2a0b8be.chunk.js
  static/js/2.d2a0b8be.chunk.js.LICENSE.txt
  static/js/main.9192b513.chunk.js
  static/js/main.f4a1b52d.chunk.js
Due: eslint --fix, prettier

Update dependencies
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/css/2.e625dec6.chunk.css
  static/js/2.d2a0b8be.chunk.js
  static/js/2.deadcc8d.chunk.js
  static/js/2.deadcc8d.chunk.js.LICENSE.txt
  static/js/main.733777fe.chunk.js
  static/js/main.9192b513.chunk.js
Due: eslint --fix, prettier

Update all imports to react-admin
  src/authProvider.ts
  src/categories/CategoryEdit.tsx
  src/dataProvider/addRealtimeMethodsWithFakeTransport.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Breadcrumb.tsx
  src/layout/Login.tsx
  src/products/Aside.tsx
  src/products/GridList.tsx
  src/products/ProductList.tsx
  src/types.ts
  src/visitors/DesktopGrid.tsx
  src/visitors/MobileGrid.tsx
  src/visitors/SegmentInput.tsx
  src/visitors/SegmentsInput.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.6c1c0c19.chunk.js
  static/js/2.6c1c0c19.chunk.js.LICENSE.txt
  static/js/2.deadcc8d.chunk.js
  static/js/main.241e0252.chunk.js
  static/js/main.733777fe.chunk.js
Due: eslint --fix, prettier

Add MIT License
  LICENSE
Due: none

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.6c1c0c19.chunk.js
  static/js/2.e3cacaea.chunk.js
  static/js/2.e3cacaea.chunk.js.LICENSE.txt
  static/js/main.241e0252.chunk.js
  static/js/main.bf5e0d0d.chunk.js
Due: eslint --fix, prettier

Update dependencies
  package.json
  src/products/ProductEdit.tsx
  src/products/ProductList.tsx
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.3ef4b510.chunk.js
  static/js/2.3ef4b510.chunk.js.LICENSE.txt
  static/js/2.e3cacaea.chunk.js
  static/js/main.60e6a9df.chunk.js
  static/js/main.bf5e0d0d.chunk.js
Due: eslint --fix, prettier

Fix dependencies duplication
  yarn.lock
Due: none

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/css/2.19e12e85.chunk.css
  static/js/2.127e24c0.chunk.js
  static/js/2.127e24c0.chunk.js.LICENSE.txt
  static/js/2.3ef4b510.chunk.js
  static/js/main.0fabdd35.chunk.js
  static/js/main.60e6a9df.chunk.js
Due: eslint --fix, prettier

Add a link to the source code
  src/dashboard/Welcome.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/css/2.e625dec6.chunk.css
  static/js/2.127e24c0.chunk.js
  static/js/2.88cfbd3b.chunk.js
  static/js/2.88cfbd3b.chunk.js.LICENSE.txt
  static/js/main.0fabdd35.chunk.js
  static/js/main.f4280da4.chunk.js
Due: eslint --fix, prettier

Update README.md
  README.md
Due: prettier
