Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Fix the global search style
  src/layout/themes.ts
Due: eslint --fix

Add Command ListItem in Search
  src/dataProvider/index.ts
  src/layout/Search.tsx
Due: eslint --fix

Display better long comments in Search
  src/layout/Search.tsx
Due: eslint --fix

Create an OrderStatus component with a different style by status
  src/layout/Search.tsx
Due: eslint --fix

Add a ReviewComment component to display better the comments
  src/layout/Search.tsx
Due: eslint --fix

Design the Command ListItem
  src/layout/Search.tsx
Due: eslint --fix

Type components alarrache
  src/layout/Search.tsx
Due: eslint --fix

Fetch and display the customer name in the order
  src/layout/Search.tsx
Due: eslint --fix

Limit the width of the Search Result Panel
  src/layout/Search.tsx
Due: eslint --fix

Add units next to the poster size
  src/layout/Search.tsx
  src/products/ProductPreview.tsx
Due: eslint --fix

Display the number of results in the search subheaders
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Search.tsx
Due: eslint --fix

Rename OrderStatus to CommandStatus
  src/layout/Search.tsx
Due: eslint --fix

Split components from Search
  src/layout/Search.tsx
  src/layout/search/CommandListItem.tsx
  src/layout/search/Customer.tsx
  src/layout/search/CustomerListItem.tsx
  src/layout/search/ProductListItem.tsx
  src/layout/search/ReviewListItem.tsx
  src/layout/search/SearchListItemLink.tsx
  src/layout/search/index.ts
Due: eslint --fix

Custom results design
  .eslintrc
  src/layout/search/CommandListItem.tsx
  src/layout/search/Customer.tsx
  src/layout/search/CustomerListItem.tsx
  src/layout/search/ProductListItem.tsx
  src/layout/search/ReviewListItem.tsx
  src/layout/search/SearchListItemLink.tsx
  src/layout/search/Stats.tsx
  src/layout/search/index.ts
Due: eslint --fix

Build custom result content in dataProvider to emulate server side search
  src/dataProvider/addSearchMethod.js
  src/dataProvider/index.ts
Due: eslint --fix

Fix warnings
  src/layout/Search.tsx
Due: eslint --fix

Reduce icons size
  src/layout/search/CommandListItem.tsx
  src/layout/search/CustomerListItem.tsx
  src/layout/search/ProductListItem.tsx
  src/layout/search/ReviewListItem.tsx
Due: eslint --fix

Add links to stats
  src/layout/search/CustomerListItem.tsx
  src/layout/search/ProductListItem.tsx
  src/layout/search/Stats.tsx
Due: eslint --fix

Review
  .eslintrc
  src/dataProvider/addSearchMethod.js
  src/dataProvider/addSearchMethod.ts
  src/dataProvider/index.ts
  src/layout/search/CommandListItem.tsx
  src/layout/search/CustomerListItem.tsx
  src/layout/search/LinkedData.tsx
  src/layout/search/ProductListItem.tsx
  src/layout/search/ReviewListItem.tsx
Due: eslint --fix

Use newly exported functions from ra-search
  src/layout/Search.tsx
Due: eslint --fix

Tweak eslint
  .eslintrc
Due: none

Fix react version
  package.json
Due: prettier

Reduce network payload
  src/dataProvider/addSearchMethod.ts
Due: eslint --fix

Make group header more prominents
  src/layout/Search.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/css/2.19e12e85.chunk.css
  static/js/2.080a46f0.chunk.js
  static/js/2.1d962c63.chunk.js
  static/js/2.1d962c63.chunk.js.LICENSE.txt
  static/js/main.209c8c59.chunk.js
  static/js/main.ff310596.chunk.js
Due: eslint --fix, prettier

Updates
  asset-manifest.json
  index.html
  static/js/main.50ca6b19.chunk.js
  static/js/main.50ca6b19.chunk.js.map
  static/js/main.ff0b2d86.chunk.js
  static/js/main.ff0b2d86.chunk.js.map
Due: eslint --fix, prettier

Fix review edit error
  src/products/ProductReferenceField.tsx
  src/reviews/ReviewEdit.tsx
Due: eslint --fix

Fix tours are broken
  src/dataProvider/localStorageProvider.ts
Due: eslint --fix

Upgrade dependencies
  package.json
  yarn.lock
Due: prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.1d962c63.chunk.js
  static/js/2.c886dee2.chunk.js
  static/js/2.c886dee2.chunk.js.LICENSE.txt
Due: eslint --fix, prettier

Hide Linked Data When Irrelevant
  src/layout/search/CustomerListItem.tsx
  src/layout/search/ProductListItem.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.1e1f847d.chunk.js
  static/js/main.a1acac0e.chunk.js
Due: eslint --fix, prettier

Upgrade depencies and fix TS
  package.json
  src/visitors/VisitorCreate.tsx
  yarn.lock
Due: eslint --fix, prettier

OSS demo catch-up
  package.json
  public/index.html
  src/dashboard/OrderChart.tsx
  src/dataProvider/index.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Search.tsx
  src/layout/search/CommandListItem.tsx
  src/layout/search/CustomerListItem.tsx
  src/layout/search/LinkedData.tsx
  src/layout/search/ProductListItem.tsx
  src/layout/search/ReviewListItem.tsx
  src/layout/themes.ts
  src/orders/MobileGrid.tsx
  src/orders/OrderList.tsx
  src/tours/randomCommandBuilder.ts
  src/tours/tours.ts
  yarn.lock
Due: eslint --fix, prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
