Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix"
    ],
    "*.{json,css,md}": [
        "prettier"
    ]
}

deploy: dc492fed060bcf63d26326484f5a840be6e56e79
  asset-manifest.json
  index.html
  static/js/main.4f829f5c.js
  static/js/main.4f829f5c.js.LICENSE.txt
  static/js/main.c0f57795.js
Due: eslint --fix, prettier

deploy: ef602d4b9f3ff16d945981409cbe92288a187966
  asset-manifest.json
  index.html
  static/js/main.4f829f5c.js
  static/js/main.896b93f6.js
  static/js/main.896b93f6.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: 65e74c9886b4e0ebd0e788d1f71ece0230d3f24a
  asset-manifest.json
  index.html
  static/js/main.2860bcd5.js
  static/js/main.2860bcd5.js.LICENSE.txt
  static/js/main.896b93f6.js
Due: eslint --fix, prettier

deploy: 11b03278c139b87a1ea4f219d4679aefa60e4fe1
  asset-manifest.json
  index.html
  static/js/main.2860bcd5.js
  static/js/main.9475e8e0.js
  static/js/main.9475e8e0.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  cypress/integration/Dashboard.ts
  cypress/integration/ra-search.ts
  cypress/support/commands.ts
  src/App.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/Welcome.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/AppBar.tsx
  src/layout/Breadcrumb.tsx
  src/layout/Layout.tsx
  src/layout/Logo.tsx
  src/layout/Menu.tsx
  src/layout/MobileMenu.tsx
  src/layout/SearchItems/CommandListItem.tsx
  src/layout/SearchItems/CustomerListItem.tsx
  src/layout/SearchItems/LinkedData.tsx
  src/layout/SearchItems/ProductListItem.tsx
  src/layout/SearchItems/ReviewListItem.tsx
  src/layout/SearchSubMenu.tsx
  src/layout/index.ts
  src/layout/themes.ts
  src/products/Aside.tsx
  src/products/ProductList.tsx
  src/reviews/ReviewEdit.tsx
  src/tours/Tour.tsx
  src/tours/TourList.tsx
  src/tours/tours.ts
  src/visitors/VisitorListAside.tsx
Due: eslint --fix

Update demo
  src/invoices/InvoiceList.tsx
Due: eslint --fix

Update demo
  package.json
Due: prettier

deploy: d59770608aad23a971ee2f5f8041540114b15b5b
  asset-manifest.json
  index.html
  static/js/main.0cc3cfac.js
  static/js/main.0cc3cfac.js.LICENSE.txt
  static/js/main.9475e8e0.js
Due: eslint --fix, prettier

Update demo
  src/products/ProductEdit.tsx
  src/products/ProductEditDetails.tsx
Due: eslint --fix

deploy: 68b3a6fd10c9d5052f0c793db1127b87460deeb4
  asset-manifest.json
  index.html
  static/js/main.0cc3cfac.js
  static/js/main.4a005020.js
  static/js/main.4a005020.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: 022ddad4600d8b9735246d98a3fed98ca858ce0a
  asset-manifest.json
  index.html
  static/js/main.4a005020.js
  static/js/main.9a783326.js
  static/js/main.9a783326.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: 72a24015c31878c7419573758b6c2cfefd3ccbb5
  asset-manifest.json
  index.html
  static/js/main.519962e7.js
  static/js/main.519962e7.js.LICENSE.txt
  static/js/main.9a783326.js
  static/media/index.0be73b6c73e82425adda.cjs
  static/media/index.50acd58e6a584c6d36bc.cjs
Due: eslint --fix, prettier

deploy: 4fa3982abcded626fee65762e8c237f9c9f1e569
  asset-manifest.json
  index.html
  static/js/main.19b8c06d.js
  static/js/main.19b8c06d.js.LICENSE.txt
  static/js/main.519962e7.js
Due: eslint --fix, prettier

deploy: 04862c9f32d07d3237b239432d8513b6623da7a0
  asset-manifest.json
  index.html
  static/js/main.19b8c06d.js
  static/js/main.a8753d6c.js
  static/js/main.a8753d6c.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  package.json
  src/EventList.tsx
  src/categories/CategoryList.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Logo.tsx
  src/layout/themes.ts
  src/orders/Basket.tsx
  src/orders/OrderEdit.tsx
  src/orders/OrderList.tsx
  src/orders/Totals.tsx
  src/products/ProductList.tsx
  src/reviews/ReviewList.tsx
  src/stores/StoreList.tsx
  src/visitors/VisitorList.tsx
  src/visitors/VisitorListAside.tsx
Due: eslint --fix, prettier

deploy: 23e1d38c76a4808af4eb823d8e18943c6d8e0878
  asset-manifest.json
  index.html
  static/js/main.0f50db9a.js
  static/js/main.0f50db9a.js.LICENSE.txt
  static/js/main.a8753d6c.js
Due: eslint --fix, prettier

deploy: 4844ed86243fc4ae402571e9c0749282af348f64
  asset-manifest.json
  index.html
  static/js/main.0f50db9a.js
  static/js/main.76b4f554.js
  static/js/main.76b4f554.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: ce89583fe9f2666a8698183e122fee3782e61073
  asset-manifest.json
  index.html
  static/js/main.35efaf55.js
  static/js/main.35efaf55.js.LICENSE.txt
  static/js/main.76b4f554.js
Due: eslint --fix, prettier

deploy: 824425860aa88c6cf85c5a26bc036783376dabfb
  asset-manifest.json
  index.html
  static/js/main.35efaf55.js
  static/js/main.9a65bd5d.js
  static/js/main.9a65bd5d.js.LICENSE.txt
Due: eslint --fix, prettier

deploy: 92851669b51be68314d36f9c3c75b7af08b45990
  asset-manifest.json
  index.html
  static/js/main.9a65bd5d.js
  static/js/main.b06e0637.js
  static/js/main.b06e0637.js.LICENSE.txt
Due: eslint --fix, prettier

Update demo
  src/products/ProductEdit.tsx
  src/reviews/StarRatingInput.tsx
Due: eslint --fix
