Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Update README.md
  README.md
Due: prettier

Fix TourList styles
  src/tours/TourList.tsx
Due: eslint --fix

Start ra-search tour with its popup
  src/tours/tours.ts
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.88cfbd3b.chunk.js
  static/js/2.c4914752.chunk.js
  static/js/2.c4914752.chunk.js.LICENSE.txt
  static/js/main.e955fd40.chunk.js
  static/js/main.f4280da4.chunk.js
Due: eslint --fix, prettier

Refactor Menu
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Breadcrumb.tsx
  src/layout/Menu.tsx
  src/segments/Segments.tsx
  src/visitors/VisitorCreate.tsx
  src/visitors/VisitorEdit.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.c4914752.chunk.js
  static/js/2.f6c5a777.chunk.js
  static/js/2.f6c5a777.chunk.js.LICENSE.txt
  static/js/main.43f0df6c.chunk.js
  static/js/main.e955fd40.chunk.js
Due: eslint --fix, prettier

Remove lock notifications
  src/products/ProductEdit.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.43f0df6c.chunk.js
  static/js/main.ca8ee8d3.chunk.js
Due: eslint --fix, prettier

Fix ra-realtime demo
  src/layout/Menu.tsx
Due: eslint --fix

Mouve Breadcrumb Outside of Layout
  package.json
  src/categories/CategoryList.tsx
  src/invoices/InvoiceList.tsx
  src/layout/BreadcrumbForActions.tsx
  src/layout/CreateActions.tsx
  src/layout/EditActions.tsx
  src/layout/Layout.tsx
  src/layout/ShowActions.tsx
  src/layout/themes.ts
  src/orders/OrderEdit.tsx
  src/orders/OrderList.tsx
  src/products/ProductCreate.tsx
  src/products/ProductEdit.tsx
  src/products/ProductList.tsx
  src/ra-enterprise/List.tsx
  src/reviews/ReviewList.tsx
  src/stores/StoreList.tsx
  src/visitors/VisitorEdit.tsx
  src/visitors/VisitorList.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier

Fix responsive appbar
  src/layout/AppBar.tsx
  src/layout/Menu.tsx
  src/layout/themes.ts
Due: eslint --fix

Add app bar tools in menu for mobile
  src/layout/Menu.tsx
Due: eslint --fix

Finish responsive menu
  src/App.tsx
  src/layout/AppBar.tsx
  src/layout/Login.tsx
  src/layout/Menu.tsx
  src/layout/MobileMenu.tsx
  src/layout/themes.ts
Due: eslint --fix

Remove unused class
  src/layout/AppBar.tsx
Due: eslint --fix

Fix Visitor Last Seen Column Hidden By Default
  src/ra-enterprise/List.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/css/2.19e12e85.chunk.css
  static/js/2.d486cd22.chunk.js
  static/js/2.d486cd22.chunk.js.LICENSE.txt
  static/js/2.f6c5a777.chunk.js
  static/js/main.41ecc3c1.chunk.js
  static/js/main.e187fc80.chunk.js
Due: eslint --fix, prettier

Update packages
  package.json
  src/invoices/InvoiceList.tsx
  src/layout/BreadcrumbForActions.tsx
  src/layout/CreateActions.tsx
  src/layout/EditActions.tsx
  src/layout/ShowActions.tsx
  src/orders/OrderList.tsx
  src/products/ProductList.tsx
  src/ra-enterprise/List.tsx
  src/reviews/ReviewList.tsx
  src/stores/StoreList.tsx
  src/visitors/VisitorEdit.tsx
  yarn.lock
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.41ecc3c1.chunk.js
  static/js/main.5663bb29.chunk.js
Due: eslint --fix, prettier

Simplify Tour Code
  src/App.tsx
  src/dataProvider/index.ts
  src/dataProvider/localStorageProvider.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/AppBar.tsx
  src/layout/Breadcrumb.tsx
  src/routes.js
  src/tours/Tour.tsx
  src/tours/TourList.tsx
  src/tours/data.ts
  src/tours/useTourState.ts
Due: eslint --fix

Fix actions
  src/tours/useTourState.ts
Due: eslint --fix

Cleanup data
  src/tours/data.ts
Due: eslint --fix

Add timeline and event fixtures
  src/App.tsx
  src/authProvider.ts
  src/dashboard/Dashboard.tsx
  src/dashboard/NewCustomers.tsx
  src/dashboard/PendingReviews.tsx
  src/dashboard/Timeline.tsx
  src/fakeServer/generateFakeEvents.ts
  src/fakeServer/index.ts
  src/i18n/en.ts
  src/i18n/fr.ts
  tsconfig.json
Due: eslint --fix, prettier

Fix last issues with breadcrumb
  src/categories/CategoryEdit.tsx
  src/invoices/InvoiceList.tsx
  src/layout/Breadcrumb.tsx
  src/products/GridList.tsx
  src/ra-enterprise/List.tsx
  src/segments/Segments.tsx
  src/visitors/VisitorCreate.tsx
  src/visitors/VisitorEdit.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.07fd1667.chunk.js
  static/js/2.07fd1667.chunk.js.LICENSE.txt
  static/js/2.d486cd22.chunk.js
  static/js/main.5663bb29.chunk.js
  static/js/main.a1faf414.chunk.js
Due: eslint --fix, prettier

Add events list
  package.json
  src/dashboard/Dashboard.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/layout/Menu.tsx
  src/layout/MobileMenu.tsx
  yarn.lock
Due: eslint --fix, prettier

Use name instead of demo user
  src/fakeServer/generateFakeEvents.ts
Due: eslint --fix

Fix ra-relationships dependency
  package.json
  yarn.lock
Due: prettier

Fix OrderEdit page
  src/orders/OrderEdit.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.07fd1667.chunk.js
  static/js/2.1f551af7.chunk.js
  static/js/2.1f551af7.chunk.js.LICENSE.txt
  static/js/main.a1faf414.chunk.js
  static/js/main.c78f9f76.chunk.js
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/main.c78f9f76.chunk.js
  static/js/main.dedd38e5.chunk.js
Due: eslint --fix, prettier

Bump ra-audit-log
  package.json
  yarn.lock
Due: prettier

Add date-fns dependency
  package.json
  src/dashboard/Timeline.tsx
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.1f551af7.chunk.js
  static/js/2.5620a8b3.chunk.js
  static/js/2.5620a8b3.chunk.js.LICENSE.txt
  static/js/main.77872291.chunk.js
  static/js/main.dedd38e5.chunk.js
Due: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  static/js/2.5620a8b3.chunk.js
  static/js/2.5f168ea4.chunk.js
  static/js/2.5f168ea4.chunk.js.LICENSE.txt
  static/js/main.77872291.chunk.js
  static/js/main.a912ccdf.chunk.js
Due: eslint --fix, prettier

Fix Menu Filters Displayed In List
  src/layout/Menu.tsx
  src/layout/MobileMenu.tsx
Due: eslint --fix

Remove useless parameters from menu links
  src/layout/Menu.tsx
Due: eslint --fix

Apply review
  src/layout/MobileMenu.tsx
Due: eslint --fix

Do not use customer as user and move fetching of events inside timeline component
  src/authProvider.ts
  src/dashboard/Dashboard.tsx
  src/dashboard/Timeline.tsx
  src/fakeServer/generateFakeEvents.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
