Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Update demo
  package.json
Due: prettier

Update demo
  .gitignore
  cypress.config.ts
  cypress/e2e/Dashboard.cy.ts
  cypress/e2e/ra-editable-datagrid.cy.ts
  cypress/e2e/ra-markdown.cy.ts
  cypress/e2e/ra-navigation.cy.ts
  cypress/e2e/ra-realtime.cy.ts
  cypress/e2e/ra-search.cy.ts
  cypress/e2e/ra-tree.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
Due: eslint --fix, prettier

Update vite config
  vite.config.ts
Due: eslint --fix

Update demo
  src/products/Aside.tsx
  src/themes/themes.tsx
Due: eslint --fix

Update demo
  package.json
  src/products/ProductEdit.tsx
  src/tours/tours.ts
Due: eslint --fix, prettier

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
