Repository marmelab/ra-enterprise-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.814c62516d9e7b51e4b375e36a4c315a.js
  service-worker.js
  static/js/main.90e27bef.chunk.js
  static/js/main.dfd5fa9a.chunk.js
Due: eslint --fix, prettier

Augment the max width allowed to the Breadcrumb
  src/layout/Breadcrumb.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.ac5784defddd1c2042f5ef796b1b013f.js
  service-worker.js
  static/js/main.777da5c2.chunk.js
  static/js/main.dfd5fa9a.chunk.js
Due: eslint --fix, prettier

change tour order
  src/tours/data.js
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.a6b51c80342a560ce41db41196011a80.js
  service-worker.js
  static/js/main.777da5c2.chunk.js
  static/js/main.eafcf8c5.chunk.js
Due: eslint --fix, prettier

Add @react-admin/ra-form-layout to dependencies
  package.json
  yarn.lock
Due: prettier

Use AccordionSection instead of TabberForm in ProductEdit
  src/products/ProductEdit.tsx
Due: eslint --fix

Sort imports in ProductEdit
  src/products/ProductEdit.tsx
Due: eslint --fix

Rename Preview to ProductPreview and add types
  src/products/ProductEdit.tsx
  src/products/ProductPreview.tsx
Due: eslint --fix

Use the new AccordionSection in ProductEdit
  src/products/ProductEdit.tsx
Due: eslint --fix

Fix TS types of the ProductEdit file
  src/products/ProductEdit.tsx
Due: eslint --fix

Upgrade modules dependencies
  package.json
  yarn.lock
Due: prettier

Improve the design of the ProductPreview
  src/products/ProductPreview.tsx
Due: eslint --fix

Design the CustomToolbar better
  src/products/ProductEdit.tsx
Due: eslint --fix

Clean code
  src/products/ProductEdit.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.8d6be65a39f4542100b7dcd9073a7e96.js
  service-worker.js
  static/js/2.21dab975.chunk.js
  static/js/2.9540e970.chunk.js
  static/js/2.9540e970.chunk.js.LICENSE.txt
  static/js/main.eafcf8c5.chunk.js
  static/js/main.f5b6eb2f.chunk.js
Due: eslint --fix, prettier

Add make deploy command
  Makefile
  README.md
  package.json
  yarn.lock
Due: prettier

Fix switch to dark layout
  package.json
  yarn.lock
Due: prettier

Upgrade to CRA4 & TS4
  .envrc.dist
  package.json
  src/App.tsx
  src/categories/CategoryCreate.tsx
  src/categories/CategoryList.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/NewCustomers.tsx
  src/dashboard/OrderChart.tsx
  src/invoices/InvoiceList.tsx
  src/invoices/InvoiceShow.tsx
  src/layout/Login.tsx
  src/layout/Logo.tsx
  src/products/Aside.tsx
  src/products/ProductCreate.tsx
  src/products/ProductEdit.tsx
  src/products/ProductReferenceField.tsx
  src/tours/TourLauncher.tsx
  src/tours/data.js
  src/visitors/ColoredNumberField.tsx
  src/visitors/VisitorCreate.tsx
  src/visitors/VisitorEdit.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier

Try to fix build
  package.json
  yarn.lock
Due: prettier

Fix TS errors
  src/categories/CategoryCreate.tsx
  src/categories/CategoryEdit.tsx
  src/categories/CategoryList.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/MonthlyRevenue.tsx
  src/invoices/InvoiceList.tsx
  src/invoices/InvoiceShow.tsx
  src/layout/AppBar.tsx
  src/layout/Menu.tsx
  src/orders/MobileGrid.tsx
  src/orders/OrderEdit.tsx
  src/orders/OrderList.tsx
  src/products/Aside.tsx
  src/products/GridList.tsx
  src/products/ProductCreate.tsx
  src/products/ProductEdit.tsx
  src/products/ProductList.tsx
  src/react-admin.d.ts
  src/stores/StoreList.tsx
  src/visitors/ColoredNumberField.tsx
  src/visitors/MobileGrid.tsx
  src/visitors/VisitorCreate.tsx
  src/visitors/VisitorEdit.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix

Update deps
  package.json
  yarn.lock
Due: prettier

Tweak eslint rules
  .eslintrc
Due: none

Migrate remaining js files to ts
  src/dataProvider/index.ts
  src/dataProvider/localStorageProvider.ts
  src/fakeServer/demo-data.ts
  src/fakeServer/index.ts
  src/layout/Login.tsx
  src/orders/NbItemsField.js
  src/orders/NbItemsField.tsx
  src/orders/OrderList.tsx
  src/orders/index.ts
  src/products/ProductReferenceField.tsx
  src/ra-enterprise/List.tsx
  src/reviews/AcceptButton.tsx
  src/reviews/BulkAcceptButton.tsx
  src/reviews/BulkRejectButton.tsx
  src/reviews/RejectButton.tsx
  src/reviews/ReviewEdit.tsx
  src/reviews/ReviewEditToolbar.tsx
  src/reviews/ReviewFilter.tsx
  src/reviews/ReviewList.tsx
  src/reviews/ReviewListDesktop.tsx
  src/reviews/ReviewListMobile.js
  src/reviews/ReviewListMobile.tsx
  src/reviews/index.ts
  src/reviews/rowStyle.tsx
  src/segments/LinkToRelatedCustomers.tsx
  src/segments/Segments.tsx
  src/segments/data.ts
  src/tours/Tour.tsx
  src/tours/TourList.tsx
  src/tours/data.ts
  src/tours/index.ts
  src/tours/randomCommandBuilder.ts
  src/tours/randomLockBuilder.ts
  src/visitors/Aside.tsx
  src/visitors/AvatarField.tsx
  src/visitors/CustomerReferenceField.tsx
  src/visitors/DesktopGrid.tsx
  src/visitors/MobileGrid.tsx
  src/visitors/SegmentsField.tsx
  src/visitors/VisitorList.tsx
Due: eslint --fix

Deploy marmelab/ra-enterprise-demo to github.com/marmelab/ra-enterprise-demo.git:gh-pages
  asset-manifest.json
  index.html
  precache-manifest.0bc2d8f665355411e5b6397563ea8348.js
  service-worker.js
  static/css/2.7d01ac18.chunk.css
  static/css/2.e625dec6.chunk.css
  static/js/2.080a46f0.chunk.js
  static/js/2.080a46f0.chunk.js.LICENSE.txt
  static/js/2.3b050bb8.chunk.js
  static/js/main.e88a330b.chunk.js
  static/js/main.ff310596.chunk.js
  static/js/runtime-main.a576929f.js
  static/media/welcome_illustration.cd84d2be.svg
Due: eslint --fix, prettier

Add a basic Search and adapt its style
  src/layout/AppBar.tsx
  src/layout/themes.ts
Due: eslint --fix

Augment the data provider using the addSearchMethod helper
  src/dataProvider/index.ts
Due: eslint --fix

Upgrade react-admin to v3.9.5
  package.json
  yarn.lock
Due: prettier

Display the logo on the left on small screens
  src/layout/AppBar.tsx
Due: eslint --fix

Create a CustomSearch component and use it in the AppBar
  src/layout/AppBar.tsx
  src/layout/Search.tsx
  src/layout/index.ts
Due: eslint --fix

Add spacing around the logo
  src/layout/AppBar.tsx
Due: eslint --fix

Add only customers and products
  src/dataProvider/index.ts
Due: eslint --fix

Add Customer and Product ListItem in Search
  src/layout/Search.tsx
  src/products/ProductPreview.tsx
Due: eslint --fix

Create a custom addSearchMethod data provider
  src/dataProvider/addSearchMethod.js
  src/dataProvider/index.ts
Due: eslint --fix

Add Review ListItem in Search
  src/dataProvider/index.ts
  src/layout/Search.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,css,md}
